*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

nav{
    background-color: bisque;
    display: flex;
    justify-content: space-around;
    height: 70px;
    align-items: center;
}
ul{
    list-style: none;
    display: flex;
    gap: 5px;
}
li{
    padding: 5px;
}
a{
    text-decoration: none;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 10px;
    border-radius: 20px;

}
a:hover{
    background-color: rgb(240, 206, 164);
    color: #181fe5;
}
header{
    width: 50%;
    margin: 20% auto;
    text-align: center;
}