{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'ITIen/css/main.css' %}">
    {% block style %} {% endblock %}
</head>
<body>
    {% block nav %}
    <nav>
        <ul>
            <li>
                <a href="/trainee/">Trainee</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="/course/">Course</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="/accounts/">Accounts</a>
            </li>
        </ul>
    </nav>
    {% endblock %}
    {% block body %}
    <header>
        <h1 style="font-size: 100px;">ITIen</h1>
    </header>
    {% endblock %}
</body>
</html>