*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
main{
    width: 50%;
    border: 1px solid black;
    padding: 5px;
    margin: 30% auto;
    text-align: center;
}
h1{
    color: brown;
}
table{
    width: 90%;
    border: 3px solid black;
    margin: 10px auto;
}
table th, td{
    border: 1px solid black;
    height: 50px;
}
