{% extends 'base.html' %}
{% load static %}

{% block title %} Course List {% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'course/css/main.css' %}">
{% endblock %}

{% block nav %}
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/course/">List</a>
            </li>
            <li>
                <a href="/course/add/">Add</a>
            </li>
            <li>
                <a href="/course/update/1/">Update</a>
            </li>
            <li>
                <a href="/course/delete/1/">Delete</a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block body %}
    <main>
        <h1>Courses List</h1>
        <table>
            <thead>
                <tr>
                    <th colspan="2">course</th>
                </tr>
            </thead>
            <tbody>
                {% for course in courses %}
                    <tr>
                        <td>{{ course.ID }}</td>
                        <td>
                            <a href="{% url 'Course_details' course.ID %}" >{{ course.name }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}
