{% extends 'base.html' %}
{% load static %}

{% block title %} Course List {% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'course/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'course/css/list.css' %}">
{% endblock %}


{% block body %}
    <main>
        <h1>Courses List</h1>
        <table>
            <thead>
                <tr>
                    <th colspan="2">course</th>
                </tr>
            </thead>
            <tbody>
                {% for course in courses %}
                    <tr>
                        <td>{{ course.ID }}</td>
                        <td>
                            <a href="{% url 'Course_details' course.ID %}" >{{ course.name }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="add/">
            <button type="button">Add</button>
        </a>
    </main>
{% endblock %}
