{% extends 'trainee/trainee.html' %}
{% block title %} Trainee Add {% endblock %}
{% block body %}
    <form method="POST", enctype="multipart/form-data">
        {% csrf_token %}
        <h1>Add Trainee</h1>
        {{ form }}
        <!-- <div>
            <label for="name">Name</label>
            <input type="text" id="name" name="name" placeholder="Enter your Name" required>
        </div>
        <div>
            <label for="age">Age</label>
            <input type="age" id="age" name="age" placeholder="Enter your Age" required>
        </div>
        <div>
            <label for="degree">Degree</label>
            <input type="degree" id="degree" name="degree" placeholder="Enter your Degree" required>
        </div> -->
        <button type="submit">Add</button>
    </form>
{% endblock %}
