{% extends 'trainee/trainee.html' %}
{% block title %} Trainee Add {% endblock %}
{% block body %}
    <form action="">
        <h1>Add Trainee</h1>
        <div>
            <label for="username">Username</label>
            <input type="text" placeholder="Enter your Username" required>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" placeholder="Password" required>
        </div>
        <button type="submit">Add</button>
    </form>
{% endblock %}
