{% extends 'trainee/trainee.html' %}
{% block title %} Trainee Details {% endblock %}
{% block body %}
    <main>
        <h1>{{ trainee.name }}</h1>
        <table>
            <thead>
                <tr>
                    <th colspan="2">trainee</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>ID</td>
                    <td>{{ trainee.ID }}</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>{{ trainee.name }}</td>
                </tr>
                <tr>
                    <td>Code</td>
                    <td>{{ trainee.age }}</td>
                </tr>
                <tr>
                    <td>Track</td>
                    <td>{{ trainee.degree }}</td>
                </tr>
                <tr>
                    <td>Image</td>
                    <td>
                        {% if trainee.image %}
                            <img class="trainee-image" src="{{ trainee.image.url }}" alt="{{ trainee.name }}">
                        {% else %}
                            No Image
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Course</td>
                    <td>{{ trainee.course.name}}</td>
                </tr>
                <tr>
                    <td>Degree</td>
                    <td>{{ trainee.degree }}</td>
                </tr>
            </tbody>
        </table>
        <div class="buttons">
            <a href="{% url 'Trainee_update' trainee.ID %}">
                <button type="button">Update</button>
            </a>
            <a href="{% url 'Trainee_delete' trainee.ID %}">
                <button type="button">Delete</button>
            </a>
            <a href="{% url 'Trainee_delete_soft' trainee.ID %}">
                <button type="button">Soft Delete</button>
            </a>
        </div>
    </main>
{% endblock %}