{% extends 'base.html' %}
{% load static %}
{% block title %} Trainee List {% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'trainee/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'trainee/css/list.css' %}">
{% endblock %}

{% block body %}
    <main>
        <h1>Trinee List</h1>
        <table>
            <thead>
                <tr>
                    <th colspan="2">students</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr>
                    <td>{{ student.ID }}</td>
                    <td>
                        <a href="{% url 'Trainee_Details' student.ID %}" >{{ student.name }}</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="add/">
            <button type="button">Add</button>
        </a>
    </main>
{% endblock %}
