{% extends 'base.html' %}
{% load static %}
{% block title %} Trainee List {% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'trainee/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'trainee/css/list.css' %}">
{% endblock %}

{% block body %}
    <main>
        <h1>Trinee List</h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Image</th>
                    <th>Course</th>
                    <th>degree</th>
                </tr>
            </thead>
            <tbody>
                {% for trainee in trainees %}
                <tr>
                    <td>{{ trainee.ID }}</td>
                    <td>
                        <a href="{% url 'Trainee_Details' trainee.ID %}" >{{ trainee.name }}</a>
                    </td>
                    <td>
                        {% if trainee.image %}
                        <img class="trainee-image" src="{{ trainee.image.url }}" alt="{{ trainee.name }}">
                        {% else %}
                        No Image
                        {% endif %}
                    </td>
                    <td>{{ trainee.course.name }}</td>
                    <td>{{ trainee.degree }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'Trainee_add' %}">
            <button type="button">Add Class Based</button>
        </a>
        <a href="{% url 'Trainee_add_form' %}">
            <button type="button">Add Generic</button>
        </a>
    </main>
{% endblock %}
