{% extends 'base.html' %}
{% load static %}
{% block title %} Accounts {% endblock %}

{% block style %} 
    <link rel="stylesheet" href="{% static 'accounts/css/main.css' %}">
{% endblock %}

{% block nav %}
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            {% if user.is_authenticated %}
                <li>
                    <form method="POST" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button class="logout" type="submit">Logout</button>
                    </form>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'login' %}">Login</a>
                </li>
                <li>
                    <a href="{% url 'register' %}">Register</a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}

{% block body%}
    <header>Accounts</header>
{% endblock %}
