{% extends 'accounts/base.html' %}
{% block title %} Register {% endblock %}
{% block body %}

    <form action="">
        <h1>Register</h1>
        <div>
            <label for="first_name">First Name</label>
            <input type="text" placeholder="First Name" required>
            <label for="last_name">Last Name</label>
            <input type="text" placeholder="Last Name" required>
        </div>
        <div>
            <label for="Email">Email</label>
            <input type="email" placeholder="Enter your Email" required>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" placeholder="Enter your Password" required>
        </div>
        <button type="submit">Register</button>
    </form>

{% endblock %}